################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Dependabot-Test/bin/Debug/net8.0
/Dependabot-Test/obj
